<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="hx-header-container">
    <div class="hx-inner">
        <a href="/" class="hx-logo">Einkaufshelfer</a>

        <!-- TODO: Show Search only for Helpers? -->
        <div class="hx-search-container">
            <input placeholder="Suche..." class="form-control" id="inputUsername" name="username" type="text" />
        </div>

        <ul>
            <li sec:authorize="anonymous">
                <a href="/account/login">Login</a>
            </li>
            <li sec:authorize="anonymous">
                <a href="/account/register">Registrieren</a>
            </li>

            <li sec:authorize="authenticated">
                <a href="/account/settings"><span th:text="${#httpServletRequest.remoteUser}" /></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
