<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dein Einkaufshelfer</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/app.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: .hx-header-container"></div>

<div class="hx-content-container hx-inner">

    <div class="hx-container" layout:fragment="content">
        <!-- TODOS: -->

        <div class="hx-user-profile">
            <h2 th:text="${user.name}"></h2>
            <span th:text="${user.getTranslatedRole()}" class="hx-role-tag"></span>
            <div class="hx-ratings" th:if="${rating} != null">
                <span th:text="${rating}"></span> <span class="gray">von 5 Sterne</span>
            </div>
        </div>

        <strong>If Helper: Show ratings</strong> <br />
        <strong>If Needy: Show List of Helprequests</strong> <br />
        <strong>If Booth: Show list & ratings</strong>
    </div>
</div>
</body>
</html>