<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dein Einkaufshelfer</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/app.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: .hx-header-container"></div>

<div class="hx-content-container hx-inner">
    <div th:replace="fragments/title :: hxtitle(${pageTitle}, ${pageDescription}) "></div>

    <div class="hx-container" layout:fragment="content">
        <p>Formular</p>
        <a href="/account/login">Zurück zum Login?</a>
    </div>
</div>
</body>
</html>