<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dein Einkaufshelfer</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link th:href="@{/styles/app.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/header :: .hx-header-container"></div>

<div class="hx-content-container hx-inner">
    <div th:replace="fragments/title :: hxtitle(${pageTitle}, ${pageDescription}) "></div>

    <div class="hx-container" layout:fragment="content">
        <!-- TODOS: -->
        <strong>If Helper: Show List of Anfragen and offer your help</strong> <br />
        <strong>If Needy: Show List of Helprequests and choose one offer</strong> <br />
        <strong>If Booth: Show booth lists</strong><br />

        <h2 class="hx-section-title">Unsere Helfer</h2>
        <div th:replace="fragments/user-list :: hxuserlist(${helpers}) "></div>

        <h2 class="hx-section-title">Unsere Hilfsbedürftigen</h2>
        <div th:replace="fragments/user-list :: hxuserlist(${needers}) "></div>

    </div>
</div>
</body>
</html>